project:
  type: website
  output-dir: docs

website:
  title: "Divad Chaudhary Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: cv.qmd
        text: CV
      - href: contact.qmd
        text: Contact
      - href: blog.qmd
        text: Blog
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual 

